@import "../../../styles/global/variables";
.banner {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.banner {
  position: relative;
  height: calc(100vh - 99px);
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  padding: 40px 32px;

  &_cta {
    margin-bottom: 16px;

    h1 {
      margin-bottom: 16px;
    }
    p {
      font-size: 18px;
      margin-bottom: 24px;
      color: $colour-text-blue;
    }
  }
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.4);
}
